.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 10, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal-content {
  background: #1f2227;
  border-radius: 12px;
  width: 850px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  color: #fff;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

.close-icon {
  font-size: 20px;
  cursor: pointer;
}

.workorder-info {
  background: #2a2d33;
  padding: 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  font-size: 14px;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.labor-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 10px;
  margin-bottom: 20px;
}

.labor-card {
  background: #2f3339;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.2s;
}

.labor-card:hover {
  border-color: #176f4f;
}

.labor-card.selected {
      border-color: #176f4f;
    background: #23372f61;
}

.check-icon {
  color: #176f4f;
  font-size: 18px;
}

.modal-footer {
            display: flex;
            justify-content: flex-end;
            gap: 12px;
            padding: 16px 24px;
            background-color: #24282e;
            border-top: 1px solid #40464f;
            flex-shrink: 0;
            width: fit-content;
            margin-left: auto;
        }

        .btn {
            padding: 10px 20px;
            border-radius: 6px;
            font-size: 0.9rem;
            font-weight: 600;
            cursor: pointer;
            border: 1px solid transparent;
            transition: all 0.15s ease-in-out;
        }

        .btn-secondary {
            background-color: transparent;
            color: #f0f0f0;
            border-color: #767e89;
        }

        .btn-secondary:hover {
            background-color: rgba(118, 126, 137, 0.2);
        }

        .btn-primary {
            background-color: #007bff;
            color: #ffffff;
            border-color: #007bff;
        }

        .btn-primary:hover {
            background-color: #0069d9;
            border-color: #0062cc;
        }
.btn-save:disabled {
  background: #3b3b3b;
  cursor: not-allowed;
}
.labor-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
 margin-bottom: 35px;
}

.labor-card {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #2c2f33;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  color: #eee;
}

.labor-card:hover {
  background-color: #3b4045;
}

.labor-card.selected {
  color: white;
  font-weight: bold;
}

.check-icon {
  margin-left: auto;
  color: #00ff99ad;
}
